body{
    background-color: #ebbc70 !important;
}


.GradEffect video {
    height: 400px;   /* change this value as you want */
    width: 100%;     /* keeps it responsive */
    object-fit: cover; /* keeps video nicely cropped */
}

.logo{
    width:100px;
    height: 30px;
}