body{
    background-color: #f0c16a !important;
}


.GradEffect video {
    height: 300px;   /* change this value as you want */
    width: 100%;     /* keeps it responsive */
    object-fit: cover; /* keeps video nicely cropped */
}

.logo{
    width:100px;
}